@media(min-width:992px){
    nav{
        .nav__mobile{
            display: none;
        }
        .nav-desktop{
            display: flex;
        }
    }
    header{
        margin: 2em 2em 5em 2em;
        .header-img{
            display: grid;
    }
    .header-text{
    .collection{
        bottom: -80%;
    }
}
}
}
